@import '../Colors.scss';

.stats-info-wrapper{
    margin-top: 4vh;
    
    .stats-week-selector{
        margin: 0 auto;
        width: 25%;
        display: table;
        text-align: center;
        color: $strange-orange;
        border: 3px solid;
        border-image: linear-gradient(to bottom, $strange-orange 1%, $strange-yellow 100%);
        border-image-slice: 1;
        background-color: $medium-dark-background;
        font-size: 30px;
        height: 100px;
        .custom-dropdown{
            display: table-cell;
            vertical-align: middle;

            .custom-dropdown-menu{
                width: 20%;
            }
        }
    }
}