@import '../Colors.scss';

.info-columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
  > div{
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    padding: 15px;
    color: $strange-orange;
    .customDropdownText{
      cursor: pointer;
    }
    @include color-border;

    @media screen and (max-width: 800px) {
      font-size: 10px;
      padding: 5px;
      margin: 5px;
    }
  }
  .dropdown .week-menu{
    margin: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border: none;
  }
  .week-menu-toggle {
    @include week-menu-toggle;
  }
  .week-menu-item-false {
    color: white;
    @include week-menu-items;
  }
  .week-menu-item-true {
    color: $yellow-text;
    @include week-menu-items;
  }
  .week-menu {
    min-width: 100px;
    padding: 0px;
  }
  .week-change-error {
    font-weight: bold;
    min-height: 24px;
  }
  .team-menu-items{
    margin: 0px;
    height: 30px;
    background: $light-gray;
    line-height: 30px;
  }
}
