.stats-columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  margin-left: 10vw;
  margin-right: 10vw;
}
.stats-columns > div {
  background-color: #f1f1f1;
  width: 30%;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
