.outer-rows {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .row-1-info {
        background-color: coral;
        flex-grow: 1;
        // height: 100%;
    }

    .row-2-stats{
        background-color: lightblue;
        flex-grow: 1;
    }

    .row-3-squad{
        background-color: grey;
        flex-grow: 10;
        height: 100%;
        // height: 50vh;
    }

    .row-4-bench{
        background-color: orange;
        flex-grow: 1;
    }
  }
  
  .outer-rows > div {
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;       
  }

  .testing-animation {
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: white;
    }
    100% {
      background-color: green;
    }
  }