div.pitch-value{
    margin-top: 2%;
    width: 100%;
    div.pitch-with-players{
        margin-left: 0vw;
        margin-right: 0vw;
        div.attackers{
            div.attackers-columns{
                margin-top: 5%;
            }
        }
        div.midfielders{
            div.midfielders-columns{
                margin-top: 5%;
            }
        }
        div.defenders{
            div.defenders-columns{
                margin-top: 5%;
            }
        }
        div.goalkeeper{
            div.goalkeeper-columns{
                margin-top: 5%;
            }
        }
    }

}
