@import '../Colors.scss';
.team-dropdown {
  .toggle-team{
    cursor: pointer;
  }
  .team-menu{
      padding: 0px;
      margin: 0px;
      border: 0px;
      min-width: 150px !important;
      width: 40%;
 }
  .team-menu-toggle {
      color: $strange-orange;
      outline: 0;
      align-content: center;
      padding: 0px;
      margin: 0px;
      background: none;
 }
  .team-menu-toggle:focus {
      color: $strange-yellow;
 }
  .team-menu-toggle:hover {
      color: $strange-yellow;
 }
  .menu-items:hover {
      background: orange;
 }
  .team-menu-item-false {
      @include week-menu-items;
 }
  .team-menu-item-true {
      color: $yellow-text;
      @include week-menu-items;
 }
  .team-menu {
      min-width: 0px;
 }
  .team-change-error {
      font-weight: bold;
      min-height: 24px;
 }
}
.team-menu-items{
  margin: 0px;
  height: 30px;
  background: $light-gray;
}
.team-menu-items:hover {
  background: $darker-gray;
}
