.position-dropdown {

  .position-menu{
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 70%;
  }
  .position-menu-toggle {
    color: #ffa260; // Color of the small triangle to generate the dropdown
    outline: 0;
    align-content: center;
    padding: 0px;
    margin: 0px;
    background: none;
  }
  .position-menu-toggle:focus {
    color: rgb(148, 148, 14);
  } // Color when the dropdown triangle is hovered on
  .position-menu-toggle:hover {
    color: rgb(148, 148, 14);
  } // The hover colour of the div
  .menu-items:hover {
    background: orange;
  } // Colour of the text when false
  .position-menu-item-false {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    font-weight: normal;
    width: 100%;
    padding: 0px;
    height: 100%;
  } // Colour of the text when true
  .position-menu-item-true {
    color: rgb(226, 226, 43);
    border: 0;
    outline: 0;
    background: none;
    font-weight: normal;
    width: 100%;
    padding: 0px;
    height: 100%;
  }
  .position-menu {
    min-width: 0px;
  }
  .position-change-error {
    font-weight: bold;
    min-height: 24px;
  }
}

.position-menu-items{
  margin: 0px;
  height: 30px;
  background: #80808a;
}

// The hover colour of the div
.position-menu-items:hover {
  // background: #222227;
  background: #616168;
}