@import'Bubble.scss';

$animation-time: 1s;

@mixin amination-bubble(
  $diameter-bubble-smallest,
  $diameter-bubble-largest,
  $position-left-bubble-smallest,
  $position-top-bubble-smallest,
  $position-left-bubble-largest,
  $position-top-bubble-largest,
  $scale: 2
) {
  .bubble.bubble-largest.bubble-largest-appear {
    @include dimensions-bubble($diameter-bubble-smallest);
    @include position-bubble( $position-left-bubble-smallest, $position-top-bubble-smallest, $diameter-bubble-smallest);
  
    div {
        opacity: 0.1;
    }
  }
  
  .bubble.bubble-largest.bubble-largest-appear.bubble-largest-appear-active {
    @include dimensions-bubble($diameter-bubble-largest);
    @include position-bubble( $position-left-bubble-largest, $position-top-bubble-largest, $diameter-bubble-largest);
    transition: height $animation-time, width $animation-time, left $animation-time, top $animation-time;
  
    div {
        opacity: 1;
        transition: opacity $animation-time;
    }
  }
  
  .bubble.bubble-smallest.bubble-smallest-appear {
    @include dimensions-bubble($diameter-bubble-largest);
    @include position-bubble( $position-left-bubble-largest, $position-top-bubble-largest, $diameter-bubble-largest);
  
    div {
        opacity: 0.1;
    }
  }
  
  .bubble.bubble-smallest.bubble-smallest-appear.bubble-smallest-appear-active {
    @include dimensions-bubble($diameter-bubble-smallest);
    @include position-bubble( $position-left-bubble-smallest, $position-top-bubble-smallest, $diameter-bubble-smallest);
    transition: height $animation-time, width $animation-time, left $animation-time, top $animation-time;
  
    div {
        opacity: 1;
        transition: opacity $animation-time;
    }
  }
}

/******** BUBBLES DESKTOP ********/

@include amination-bubble(
  $diameter-bubble-smallest-desktop,
  $diameter-bubble-largest-desktop,
  $position-left-bubble-smallest-desktop,
  $position-top-bubble-smallest-desktop,
  $position-left-bubble-largest-desktop,
  $position-top-bubble-largest-desktop
);

/******** BUBBLES TABLET ********/

@media screen and (max-width: 1440px) {
  @include amination-bubble(
    $diameter-bubble-smallest-tablet,
    $diameter-bubble-largest-tablet-max,
    $position-left-bubble-smallest-tablet,
    $position-top-bubble-smallest-tablet,
    $position-left-bubble-largest-tablet,
    $position-top-bubble-largest-tablet
  );
}

@media screen and (max-width: 1000px) {
  @include amination-bubble(
    $diameter-bubble-smallest-tablet,
    calc(#{$diameter-bubble-largest-tablet-max} - 105px),
    $position-left-bubble-smallest-tablet,
    $position-top-bubble-smallest-tablet,
    $position-left-bubble-largest-tablet,
    $position-top-bubble-largest-tablet
  );
}

@media screen and (max-width: 650px) {
  @include amination-bubble(
    $diameter-bubble-smallest-tablet,
    calc(#{$diameter-bubble-largest-tablet} + 25vw),
    $position-left-bubble-smallest-tablet,
    $position-top-bubble-smallest-tablet,
    $position-left-bubble-largest-tablet,
    $position-top-bubble-largest-tablet
  );
}

/******** BUBBLES STANDARD PHONE ********/

@media screen and (max-width: 590px) {
  @include amination-bubble(
    $diameter-bubble-smallest-std-mobile,
    110vw,
    $position-left-bubble-smallest-std-mobile,
    $position-top-bubble-smallest-std-mobile,
    calc(#{$position-left-bubble-largest-std-mobile} - 4vw),
    $position-top-bubble-largest-std-mobile,
    $magic-scale-number-std-mobile-1
  );
}

@media screen and (max-width: 490px) {
  @include amination-bubble(
    $diameter-bubble-smallest-std-mobile,
    $diameter-bubble-largest-std-mobile,
    $position-left-bubble-smallest-std-mobile,
    $position-top-bubble-smallest-std-mobile,
    $position-left-bubble-largest-std-mobile,
    $position-top-bubble-largest-std-mobile,
    $magic-scale-number-std-mobile-1
  );
}

/******** BUBBLES SMALL PHONE ********/

@media screen and (max-width: 390px) {
  @include amination-bubble(
    $diameter-bubble-smallest-sm-mobile,
    $diameter-bubble-largest-sm-mobile,
    $position-left-bubble-smallest-sm-mobile,
    $position-top-bubble-smallest-sm-mobile,
    $position-left-bubble-largest-sm-mobile,
    $position-top-bubble-largest-sm-mobile,
    $magic-scale-number-sm-mobile
  );

  @media screen and (min-height: 810px) {
    @include amination-bubble(
      $diameter-bubble-smallest-sm-mobile,
      $diameter-bubble-largest-sm-mobile,
      $position-left-bubble-smallest-sm-mobile,
      calc(#{$position-top-bubble-smallest-sm-mobile} - 8vh),
      $position-left-bubble-largest-sm-mobile,
      $position-top-bubble-largest-sm-mobile,
      $magic-scale-number-sm-mobile
    );
  }

  @media screen and (max-height: 810px) {
    @include amination-bubble(
      $diameter-bubble-smallest-sm-mobile,
      $diameter-bubble-largest-sm-mobile,
      $position-left-bubble-smallest-sm-mobile,
      calc(#{$position-top-bubble-smallest-sm-mobile} - 8vh),
      $position-left-bubble-largest-sm-mobile,
      $position-top-bubble-largest-sm-mobile,
      $magic-scale-number-sm-mobile
    );
  }
}
