$color-primary-hot-pink: #E04179;
$color-primary-turquoise: #1EC6A3;
$color-primary-light-blue: #55d6e4;
$color-primary-violet: #50385B;
$color-primary-violet-light: #73607c;
$color-white: #ffffff;
$color-black: #000000;
$color-shadow: #00000061;
$color-grey-dark: #D4D4D4;
$color-grey-light: #F6F5F5;
$color-error-text: #b44739;
$color-transaction-text: #50385b;
$color-transaction-text-date: #73607C99;
$color-transaction-hover: #E041791A;
$color-primary-hot-pink-05-alpha: transparentize($color-primary-hot-pink, 0.5);
$color-transaction-text-date: #9973607C;
$color-transaction-positive: #1ec6a3;
$color-linebreak-color: #d8d8d8;