$color-primary-hot-pink: #E04179;
$color-primary-turquoise: #1EC6A3;
$color-primary-light-blue: #55d6e4;
$color-primary-violet: #50385B;
$color-primary-violet-light: #73607c;
$color-white: #ffffff;
$color-shadow: #00000061;
$color-grey-dark: #D4D4D4;
$color-grey-light: #F6F5F5;
$color-error-text: #b44739;
$color-transaction-text: #50385b;
$color-transaction-text-date: #73607C99;
$color-primary-hot-pink-05-alpha: transparentize($color-primary-hot-pink, 0.5);
$color-transaction-text-date: #9973607C;
$color-linebreak-color: #d8d8d8;

$background-white: #f1f1f1;
$dark-black-background: #222227;
$medium-dark-background: #3c3c44;
$strange-orange: #ffa260;
$strange-yellow: rgb(148, 148, 14);
$yellow-text: rgb(226, 226, 43);
$strange-other-yellow: rgb(209, 209, 27);
$orange-border: #e07c34;
$light-gray: #80808a;
$darker-gray: #616168;

@mixin color-border {
    border: 3px solid;
    border-image: linear-gradient(to bottom, $strange-orange 1%, $strange-yellow 100%);
    border-image-slice: 1;
    background-color: $dark-black-background;
}

@mixin week-menu-items {
    border: 0;
    outline: 0;
    background: none;
    font-weight: normal;
    width: 100%;
    padding: 0px;
    height: 100%;
}

@mixin week-menu-toggle {
    color: $strange-orange;
    outline: 0;
    align-content: center;
    padding: 0px;
    margin: 0px;
    background: $dark-black-background;
  }