@import'Form.scss';
@import './Colors.scss';

 div>form#login-form {
    @media screen and (max-width: 590px) {
        #login-input-fields{
            text-align: center;
        }
        margin-top: 30%;
        h1{
            color: $strange-orange;
        }
    }
     &#login-input-fields {
         @include input-margins;
         margin-top: 37.82px;
         @media screen and (max-width: 358px), screen and (max-height: 710px) {
             font-size: 25px;
             margin-top: 46px;
        }
    }
     &>button {
         &#btnLogin {
             margin-top: 35px;
             margin-bottom: 25px;
        }
         &.second {
             background-color: transparent;
        }
         &.first {
             color: $color-primary-turquoise;
             border-color: $color-primary-turquoise;
             background-color: $color-white;
        }
    }
     .position-relative{
         input#username{
             width: 100%;
             margin-bottom: 20px;
        }
        input#passcode{
            width: 100%;
        }
        @media screen and (max-width: 590px) {
            input#username, input#passcode{
                width: 50%;
           }
        }
    }
}

#usernameLabel, #passcodeLabel {
    margin-top: 2%;
    color: $strange-other-yellow;
    font-size: 16px;
    font-weight: bold;
}
.loading-spinner-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    position: relative;
    .loading-spinner {
        position: absolute;
        -webkit-animation: spin 1.5s linear infinite;
        -moz-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
        height: 24px;
        width: 24px;
    }
}

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }