.outer-league-rows {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background-color: #222227;
  width: 100%;
}

.my-leagues-column-one{
  padding-right: 0px;
  padding-left: 0px;
}

.outer-league-rows>div {
  // background-color: #f1f1f1;
  // margin: 10px; // line-height: 75px;
  font-size: 30px;
}

.flex-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222227;
}

.flex-container-two>div {
  background-color: #222227; // width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}



div.league-table {

margin-right: 2vw;

  table{
    width: 100%;
  }

  tbody {
    display: block; /* to enable vertical scrolling */
    max-height: 150px; /* e.g. */
    overflow-y: auto; /* keeps the scrollbar even if it doesn't need it; display purpose */
    ::-webkit-scrollbar {
      display: inline-table;
    }
  }
  
  th, td {
    // width: 100%; /* to enable "word-break: break-all" */
    padding: 5px;
    word-break: break-all; /* 4. */
  }
  
  tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }
  
  td {
    text-align: center;
    border-bottom: none;
    border-left: none;
    font-size: 16px;
    width: 50%;
  }


  tr.league-header{
    color: rgb(197, 197, 21);
  }




  tbody.my-active-leagues{
    cursor: pointer;

    tr.league-even{
      background-color: #49494d;
    }
  }

  
}

#btnCreateLeague, #btnJoinLeague {
  color: #ffa260;
  display: table;
  margin: auto;
  border-radius: 35px;
  border-color: #e07c34 !important;
  width: 40%;
  font-weight: bold; // padding: 13px 16px;
  background-color: #222227;
  padding: 13px 16px;
  border: 2px solid;
  &:focus {
    outline: none;
  }
  &:hover {
    color: rgb(209, 209, 27);
    outline: none;
  }
}

#customer-container {
  margin-top: 0px;
}

tr.league:hover {
  td {
    background-color: #3c3c46;
  }
}

.my-leagues{
  margin-left: 5vw;
  margin-right: 5vw;
  padding-bottom: 5vh;
  text-align: center;
  color: #ffa260;
  border: 3px solid;
  border-image: linear-gradient(to bottom, #ffa260 1%, rgb(148, 148, 14) 100%);
  border-image-slice: 1;
  background-color: #3c3c44;
  padding-right: 30px;
}

.huh, .container{
  background-color: #222227;
}