#create-league-form {
  margin-top: 10vh;
  height: 70vh;
  background-color: lightgrey;
  h1,
  label,
  input,
  button,
  h1#greeting {
    color: blue; // font-weight: bold; // text-align: center;
    width: 80%;
    margin-left: 10%;
    font-size: 24px;
  }
  h1#greeting {
    color: black;
    padding-top: 100px;
  }
  #btnCreateLeague {
    color: green;
    display: table;
    margin: auto;
    border-radius: 35px;
    width: 40%;
    font-weight: bold; // padding: 13px 16px;
    background-color: black;
    padding: 13px 16px;
    &:focus {
      outline: none;
    }
    &:hover {
      color: red;
      background-color: white;
      outline: none;
    }
  }
}