.outer-league-rows {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
  width: 100%;
}

.outer-league-rows>div {
  background-color: #f1f1f1;
  margin: 10px; // line-height: 75px;
  font-size: 30px;
}

.flex-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: DodgerBlue;
}

.flex-container-two>div {
  background-color: #f1f1f1; // width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

div.league-table {
  tbody.my-active-leagues {
    width: 100%;
    tr.league {
      td.league-name {
        color: green;
        width: 70%;
      }
      td.position {
        margin-left: 30px;
        color: red;
        width: 100%;
        text-align: center;
      }
    }
  }
}

#customer-container {
  margin-top: 0px;
}

tr.league:hover {
  td {
    background-color: yellow;
  }
}