.league-info-screen {
  margin-top: 10vh;
  background-color: #222227;
  padding-left: 0px;
  padding-right: 0px;

  .rankings-wrapper{
    color: #ffa260;
      border: 3px solid;
      border-image: linear-gradient(to bottom, #ffa260 1%, rgb(148, 148, 14) 100%);
      border-image-slice: 1;
      margin-left: 5vw;
      margin-right: 5vw;
      padding-bottom: 5vh;
      padding-right: 30px;

      table{
        width: 100%;
      }
    
      tbody {
        display: block; /* to enable vertical scrolling */
        max-height: 75px; /* e.g. */
        overflow-y: auto; /* keeps the scrollbar even if it doesn't need it; display purpose */
        ::-webkit-scrollbar {
          display: inline-table;
        }
      }
      
      th, td {
        // width: 100%; /* to enable "word-break: break-all" */
        padding: 5px;
        word-break: break-all; /* 4. */
      }
      
      tr {
        display: table; /* display purpose; th's border */
        width: 100%;
        box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
      }
      
      td {
        text-align: center;
        border-bottom: none;
        border-left: none;
        font-size: 16px;
        width: 33.333%;
      }

      .rankings{
        display: flex;
      }

      tr.rankings{
        color: rgb(197, 197, 21);
      }

  }

  .current-league-name{
    text-align: center;
    font-size: 30px;
  }

  .league-rankings-table{
    margin-top: 2vh;
  }

  tbody.league-rankings {
    background-color: #222227;
    color: red;
    text-align: center;

    tr.rankings{
      td.user-name, td.points, td.position{
        color: rgb(197, 197, 21);
      }
    }

    tr {
      width: 100%;
      font-size: 20px;
      td {
        width: 30vw;
        color: white;
      }
      td.points,
      td.position {
        text-align: center;
      }
    }
    tr.user:hover {
      background-color: #ffa260;
    }
  }
}