.player {
  line-height: 25px;
  height: 100%;
  background-color: yellow;
  width: 10%;
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;
  line-height: 55px;
  border-radius: 25px;
  font-size: 16px;
}
.player-columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}
.filled-player{
  cursor: pointer;
  height: 100%;
  .name, .value{
      margin-bottom: 0px;
 }
}
