@import '../../Colors.scss';
.player-columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  .player{
    height: 100%;
    width: 10%;
    margin-left: 2%;
    margin-right: 2%;
    @media screen and (max-width: 800px) {
      margin-left: 4%;
      margin-right: 4%;
    }
    cursor: pointer;
    .image{
      background-image: url("./temp-kit.gif");
      background-size: 100% 100%;
      height: 10vh;
      @media screen and (max-width: 800px) {
        height: 7vh;
      }
    }
    .image-keeper{
      background-image: url("./keeper.gif");
      // For the image - put in publisher -> Picture Tools (top) -> Recolor -> Set transparent color
      background-size: 100% 100%;
      height: 10vh;
      @media screen and (max-width: 800px) {
        height: 7vh;
      }
    }
    .image-empty{
      background-image: url("./empty-player.gif");
      background-size: 100% 100%;
      height: 10vh;
      @media screen and (max-width: 800px) {
        height: 7vh;
      }
    }
    .player-wrapper{
      .name, .points, .value{
        font-size: 14px;
        line-height: 20px;
        background-color: $medium-dark-background;
        color: $yellow-text;
        @media screen and (max-width: 800px) {
          font-size: 10px;
        }
      }
    }
  }
}

