.outer-admin-columns {
    display: flex;
    background-color: DodgerBlue;
    justify-content: center;
    div.left-rows {
      display: flex;
      flex-direction: column;
      background-color: green;
      .admin-info-row {
        display: flex;
        background-color: yellow;
        justify-content: center;
      }
      .admin-info-row>div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        width: 100%;
      }
      .admin-info-row>div:hover{
        color: blue;
      }
      
    }
    .div.left-rows>div {
      background-color: #f1f1f1;
      width: 100px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
  }
  
  .outer-admin-columns>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 100%;
    text-align: center;
  }

