@import '../Colors.scss';


.outer-admin-columns {
  display: flex;
  background-color: $dark-black-background;
  justify-content: center;
  div.left-rows {
      display: flex;
      flex-direction: column;
      background-color: $dark-black-background;
      .admin-info-row {
          display: flex;
          justify-content: center;
          font-size: 18px;
     }
 }
  .div.left-rows>div {
      background-color: $background-white;
      width: 100px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
 }
}

.outer-admin-columns>div {
  background-color: $background-white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.raise:hover, .raise:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  &:hover, &:focus {
      box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
 }
}
$colors: ( raise: $strange-orange, );
@each $button, $color in $colors {
  .#{
     $button
 }
  {
      --color: #{
         $color
     }
     ;
      --hover: #{
         adjust-hue($color, 45deg)
     }
     ;
 }
}
div.raise {
  color: var(--color);
  transition: 0.25s;
  &:hover, &:focus {
      border-color: var(--hover);
      color: #fff;
 }
  background-color: $medium-dark-background;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em;
}
div.raise-selected{
  background-color: $medium-dark-background;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em;
  border-color: #{
     adjust-hue($strange-orange, 45deg)
 }
 ;
  color: #fff;
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em #{
     adjust-hue($strange-orange, 45deg)
 }
 ;
}

.outer-admin-columns{
  .left-rows{
    .admin-form-row-three{
      margin-left: 10%;
      margin-right: 10%;

      .edit-player-new-stats{
        .admin-wrapper{
          margin-top: 10px;
          padding: 20px;
          #create-player-form{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            input{
              color: white;
              width: 100%;
            }
            #Goals, #Assists{
              text-align: center;
            }
          }
          .custom-dropdown{
            text-align: center;
            font-size: 18px;
          }
        }
      }
    }
    #btnEditPoints{
      margin-top: 20px;
    }
  }
}

.admin-wrapper{
  border: 3px solid;
  border-image: linear-gradient(to bottom, $strange-orange 1%, $strange-yellow 100%);
  border-image-slice: 1;
  background-color: $medium-dark-background !important;

  .admin-man-of-the-match{
    color: $strange-orange;
    font-size: 20px;
  }
}


@media screen and (max-width: 590px) {
  .admin-mobile-wrapper{
    .admin-header{
      color: $yellow-text;
      font-size: 20px;
      text-align: center;
      padding: 15px;
    }
    .admin-page-selector{
      text-align: center;
      font-size: 14px;
    }
    .admin-form{
      .team-menu{
        max-height: 200px;
        overflow-y: scroll;
      }

      .admin-form-row-one, .admin-form-row-two{
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        .admin-wrapper{
          margin: 0px;
          margin-top: 15px;
          padding: 15px;
          #create-player-form{
            input{
              color: white;
              width: 100%;
            }
            height: auto;
            label{
              text-align: center;
            }
          }
          .custom-dropdown, .team-dropdown{
            text-align: center;
            font-size: 18px;
          }
        }  
        .successful-response-message, .error-response-message{
          margin-top: 10px;
          height: auto;
          margin-bottom: 10px;
        }   
        .admin-submit-button{
          padding: 0px;
          margin: 0px;
        }   
        
      }
      .admin-form-row-three{
        margin-left: 10%;
        margin-right: 10%;
  
        .edit-player-new-stats{
          .admin-wrapper{
            margin-top: 10px;
            padding: 20px;
            #create-player-form{
              width: 50%;
              margin-left: auto;
              margin-right: auto;
              input{
                color: white;
                width: 100%;
              }
              #Goals, #Assists{
                text-align: center;
              }
            }
            .custom-dropdown{
              text-align: center;
              font-size: 18px;
            }
          }
        }
      }
      #btnCreatePlayer, #btnDeletePlayer, #btnCreateCollegeTeam, #btnDeleteCollegeTeam, #btnAddPoints
      , #btnEditPoints {
        margin-top: 20px;
        margin-bottom: 10px;
        width: auto;
      }
    }
  }
}