div.admin-form  {
    display: flex;
    flex-direction: column;
    // background-color: green;
    .admin-form-row-one {
      display: flex;
      background-color: #222227;
      justify-content: center;
    }
    .admin-form-row-one>div {
      background-color: #222227;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
      width: 100%;
    }
    .admin-form-row-two {
      display: flex;
      background-color: #222227;
      justify-content: center;
    }
    .admin-form-row-two>div {
      margin: 10px;
      padding: 20px;
      font-size: 30px;
      width: 100%;
    }
  }

  #create-player-form, #create-college-team-form, #add-points-week-form, 
  #add-points-goals, #add-points-assists, #add-points-minutes, #add-result-goals-form {
    h1,
    label,
    input,
    button,
    h1#greeting {
      color: #ffa260; // font-weight: bold; // text-align: center;
      width: 80%;
      margin-left: 10%;
      font-size: 24px;    
      font-weight: 400;
    }
  }

  .position-dropdown{
      color: #ffa260;
      border: 3px solid;
      border-image: linear-gradient(to bottom, #ffa260 1%, rgb(148, 148, 14) 100%);
      border-image-slice: 1;
  }

  .team-dropdown{
      color: #ffa260;
      border: 3px solid;
      border-image: linear-gradient(to bottom, #ffa260 1%, rgb(148, 148, 14) 100%);
      border-image-slice: 1;
  }

  .create-player-form-outer, .add-points-assists-outer, .add-points-minutes-outer{
    color: #ffa260;
    border: 3px solid;
    border-image: linear-gradient(to bottom, #ffa260 1%, rgb(148, 148, 14) 100%);
    border-image-slice: 1;
  }


.create-college-team-form-outer, .add-points-week-outer, .add-points-goals-outer{
    color: #ffa260;
    border: 3px solid;
    border-image: linear-gradient(to bottom, #ffa260 1%, rgb(148, 148, 14) 100%);
    border-image-slice: 1;
  }

  .edit-points-info, .add-result-goals-form-outer{
    color: #ffa260;
    border: 3px solid;
    border-image: linear-gradient(to bottom, #ffa260 1%, rgb(148, 148, 14) 100%);
    border-image-slice: 1;
  }